@model IEnumerable<ProductGetDto>

@foreach (var product in Model)
{
    string mainImage = product.Images.FirstOrDefault(i => i.IsMain)?.Url ?? "default-img.jpg";

    <div data-aos="flip-up" data-aos-offset="100" class="product col-lg-3 col-md-6 popular winter all">
        <a asp-action="Index" asp-controller="Product" asp-route-id="@product.Id">
            <div class="productImage">
                <img src="~/assets/images/product/@mainImage"
                     alt="">
                @{
                    if (product.Stock == 0)
                    {
                        <span class="badge badge-dark bg-dark position-absolute"
                              style=" top:3%;left: 8%;transform: scale(1.3);">SOLD</span>
                    }
                }

            </div>
        </a>
        <div class="productTitle">
            <p class="text-uppercase">@product.Name</p>
        </div>
        <div class="productPrice">
            <span class="addToCardBtn" data-id="3">Add to cart</span>
            @{
                if (product.Discount != null)
                {
                    int discountedPrice = (int)(product.Price - product.Price * (product.Discount.Percent / 100.0));

                    <span style="text-decoration: line-through;">$@product.Price</span>
                    <span>$@discountedPrice</span>
                }
                else
                {
                    <span>$@product.Price</span>
                }
            }
        </div>
        @{
            if (product.Stock != 0)
            {
                <a class="addToCart d-block" asp-controller="Product" asp-action="AddBasket" asp-route-id="@product.Id"></a>
            }
            else
            {
                <div class="text-uppercase">SOLD</div>
            }
        }
        @*  <div class="addToCart">
    </div> *@
    </div>
}

