@model Blog

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" asp-for="Title">
            <span asp-validation-for="Title" class="text text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description">
            <span asp-validation-for="Description" class="text text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FormFile" class="form-label">
                Image <div>
                    <div class="input-group-append">
                        <span class="input-group-text d-flex gap-2">
                            @if (Model.Image != null)
                            {
                                <div class="btn btn-primary">Change Image</div>
                                @Model.Image
                            }
                            else
                            {
                                <div class="btn btn-primary">Upload Image</div>
                                <span>No file chosen</span>
                            }
                        </span>
                    </div>
                </div>
            </label>
            <div class="input-group">
                <input type="file" class="form-control" asp-for="FormFile" hidden>

            </div>
            <span asp-validation-for="FormFile" class="text text-danger"></span>
        </div>
        <div style="width:100px">
            <img style="width:100%" src="~/assets/images/blog/@Model.Image" alt="blog image" />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        @Html.AntiForgeryToken()
    </form>
</div>
